<mat-card class="fullscreen">
  <mat-card-header>
    <div class="logo-chat center-header">
      <a href="">
        <h3>Web Chat</h3>
      </a>
    </div>
  </mat-card-header>
  <mat-card-content style="padding-top: 40px">
    <div>
      <div class="col-xs-2">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input [(ngModel)]="username"
                 autocomplete="off" matInput>
        </mat-form-field>
      </div>
      <mat-card>
        <mat-card-content class="scrollarea">
          <div class="balon position-relative">
            <div *ngFor="let msg of messages">
              <div>
                <strong>{{msg.username}}</strong>
              </div>
              <div><a>{{msg.message}}</a></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-form-field (keyup.enter)="submit()" style="width: 70%; padding-top: 20px">
      <input class="form-control" placeholder="Write a message" [(ngModel)]="message"
             (ngModelChange)="message = $any($event).target.value" matInput
      />
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-left: 20px;" (click)="submit()">Send</button>
  </mat-card-content>
</mat-card>

